.entryimg{
    width:70%;
    position:absolute;
    top:30%;
    left:30%; 
    z-index:2;  
}
h1{
    font-family:proxima-nova;
    font-style:normal;
    font-weight:800;
    font-size:3em
}
.sidebar{
    z-index:1;
    background-color:rgba(87, 86, 86, 0.637);
    position:absolute;
    width:0;
    height:100%

}
li{
    display:none;
    font-family:proxima-nova;
    font-style:normal;
    font-size:0.5em;
    color:white;
    position:relative;
    top:20%;
    left:-25px;
}

ul{
    display:none; 
    font-family:proxima-nova;
    font-style:normal;
    font-size:1em;
    color:white;
    left:-25px;
}
.underline{
    width:60%;
}

.button{
    position:absolute;
    left:70%;
    top:93%
}
.inputtext{
    position:absolute;
    top:94.65%;
    left:1%;
}
.roomimg{
    position:absolute;
    width:1500px;
    left:5%;
    top:5%
}
/* 
body{
    background-color: rgb(209, 109, 98);
} */
